node_modules
npm-debug.log
config/*
!config/*.example.cfg
!config/*.example.js
!config/configuration.ts
!config/configuration.example.yml
!node_modules/mongodb-memory-server
!node_modules/mongodb-memory-server-core
!node_modules/mongodb-memory-server-global
!node_modules/new-find-package-json
